<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BridgePrivate.Properties.Settings.storage" connectionString="DefaultEndpointsProtocol=https;AccountName=bridgebase;AccountKey=ezrwMqDYneIQVqR69YwSnh74+grGpRmlFAfkzRACjJEkTRYievAvl5QeXDK6K+RrN+uk2UGHUUplFaRFTpOukw==" />
    </connectionStrings>
</configuration>